<!-- Credit to CI Boutique Ado for the base code -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="class nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="chemicals" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chemicals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="chemicals">
                <a href="{% url 'products' %}?category=rooms,public_areas" class="dropdown-item">Rooms & Public areas</a>
                <a href="{% url 'products' %}?category=restaurant" class="dropdown-item">Restaurant</a>
                <a href="{% url 'products' %}?category=kitchen" class="dropdown-item">Kitchen</a>
                <a href="{% url 'products' %}?category=rooms,public_areas,restaurant,kitchen" class="dropdown-item">All Chemicals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="housekeeping" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Housekeeping
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="housekeeping">
                <a href="{% url 'products' %}?category=bedrooms" class="dropdown-item">Bedrooms</a>
                <a href="{% url 'products' %}?category=common_areas" class="dropdown-item">Common areas</a>
                <a href="{% url 'products' %}?category=bedrooms,common_areas" class="dropdown-item">All Housekeeping</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tableware" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Tableware 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tableware">
                <a href="{% url 'products' %}?category=crockery" class="dropdown-item">Crockery</a>
                <a href="{% url 'products' %}?category=cutlery" class="dropdown-item">Cutlery</a>
                <a href="{% url 'products' %}?category=glassware" class="dropdown-item">Glassware</a>
                <a href="{% url 'products' %}?category=crockery,cutlery,glassware" class="dropdown-item">All Tableware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_products" class="dropdown-item">New Products</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_products,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a href="{% url 'product_favourites' %}" class="logo-font font-weight-bold nav-link text-black">Favourites</a>
        </li>
        {% endif %}
    </ul>
</div>