{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Returns</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please select return item from Order History</p>
                <form method="POST" action="{% url 'request_returns' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                    </div>
                    <div class=" form-group">
                        <label for="order_number">Order Number</label>
                        <select class="form-control border-black rounded-0 w-75" id="order_number" name="order_number">
                          <option>Please Select</option>
                          {% for order in orders %}
                          <option>{{ order.order_number}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    <div class="form-groug d-none">
                        <label for="username">Username</label>
                        <input type="text" class="form-control border-black rounded-0 w-75" id="username" name="username" placeholder="{{ username }}" value="{{ username }}">
                       
                      </div>
                    <div class="form-group">
                        <label for="display-username">Username</label>
                        <input type="text" class="form-control border-black rounded-0 w-75" id="display-username" name="display-username" placeholder="{{ username|title  }}" value="{{ username|title  }}" disabled>
                      </div>
                    <div class="form-group">
                        <label for="occasion">Return Reason</label>
                        <select class="form-control border-black rounded-0 w-75" id="return_reason" name="return_reason">
                          <option>Please Select</option>
                          <option>Wrong Item</option>
                          <option>Damaged Item</option>
                          <option>Item Not Received</option>
                          <option>Other</option>
                        </select>
                      </div>
                    <div class=" form-group">
                      {{ form.additional_info | as_crispy_field }}
                    </div>
                    {{ form.errors }}
                    <button class="btn btn-black rounded-0 text-uppercase float-left">Request Return</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
              <p class="text-muted">Return History</p>
              <div class="order-history table-responsive">
                  <table class="table table-sm table-borderless">
                      <thead>
                          <tr>
                              <th>Return Number</th>
                              <th>Date</th>
                              <th>Reason</th>
                              <th>Additional Info</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for return in returns %}
                              <tr>
                                  <td>
                                    <p class="text-shadow-blue">R-{{ return.order_number|truncatechars:6 }}</p>
                                  </td>
                                  <td>{{ return.return_request_date }}</td>
                                  <td>{{ return.return_reason }}</td>
                                  <td>{{ return.additional_info }}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
{% endblock %}